In [776]:
import pandas as pd
import psycopg2
from psycopg2 import OperationalError

def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection


def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except OperationalError as e:
        print(f"The error '{e}' occurred")


connection = create_connection(
    'postgres', 'postgres', 'postgres', '5.35.13.12', '5432'
)

select_clim = "SELECT * FROM alex.climat_geo"
#INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='alex.climat_geo'"
clims = execute_read_query(connection, select_clim)

#select_clim_columns = "SELECT * FROM INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='alex.climat_geo'"
#select_clim_columns = "SELECT Columns FROM alex.climat_geo"
#col_names = execute_read_query(connection, select_clim_columns)


col_names = ['subject', 'city', 'lat', 'Ing', 'id']
df = pd.DataFrame(clims, columns = col_names)
df.head(5)

Connection to PostgreSQL DB successful

,subject,city,lat,Ing,id
0,Кабардино-Балкарская Республика,город Нальчик,43.485259,43.607081,2
1,Иркутская область,п Усть-Ордынский,52.805121,104.753641,3
2,Иркутская область,Тулун,54.55712,100.578047,4
3,Иркутская область,Тайшет,55.940502,98.002982,5
4,Иркутская область,п Слюдянка,57.97442,112.769605,6

In [829]:
def make_df(name:str):
    select_table = f"SELECT * FROM cbr.{name}"
    table = execute_read_query(connection,  select_table)

    cols_expr = f"SELECT column_name FROM cbr.COLUMNS where TABLE_NAME = '{name}' and table_schema = 'cbr'"
    cols = execute_read_query(connection, cols_expr)
    cols = tup_to_list(cols)

    df = pd.DataFrame(table, columns = cols)
    return df



def tup_to_list(cols):
    new_cols = []
    for col in cols:
        new_cols.append(col[0])
    return new_cols

In [250]:
# realty_unique
real_unique = make_df('realty_uniq')
real_unique.head(2)

,id,reestr_code,department,name,address,region,area,city,ya_address,lng,lat,object_id,street,climat_id
0,21,04-01-04-00-00-014,Отделение Благовещенск,Административное здание,"676776, Амурская обл., г.Райчихинск, Победы ул...",Амурская область,городской округ Райчихинск,Райчихинск,"Россия, Амурская область, Райчихинск, улица По...",129.401409,49.799777,04-01-04-00-00-014,"улица Победы, 49",None
1,404,37-06-01-00-01-037(комп.),Отделение Магадан,Склад административного здания Центрального ба...,"685000, Магаданская обл., г. Магадан,, ул. Пуш...",Магаданская область,городской округ Магадан,Магадан,"Россия, Магадан, улица Пушкина, 4",150.804651,59.566828,37-06-01-00-01-037,"улица Пушкина, 4",None

In [825]:
# expenses_date
expen = make_df('expenses_2')
expen = expen[expen['sum'] != 'Отнесено']
expen.head(2)

,year,smeta,departament,code,code_expenses,name_expenses,direction_expenses,sum_begin,sum,sum_endda,date,adress,id,object_id,lng,lat,type_expenses
0,2019.0,Хозяйственно-эксплуатационное направление ЕАО,Отделение по Еврейской автономной области Даль...,134.11,134.1100.000000,Расходы на коммунальные услуги,Оплата за электроэнергию по тарифам - ст.134.1100,None,"346388,9","346388,9",19.02.2019,,None,None,132.940799,48.786228,Расходы на коммунальные услуги
1,2019.0,Хозяйственно-эксплуатационное направление ЕАО,Отделение по Еврейской автономной области Даль...,134.11,134.1100.000000,Расходы на коммунальные услуги,Оплата за электроэнергию по тарифам - ст.134.1100,None,"326646,72","326646,72",19.03.2019,,None,None,132.940799,48.786228,Расходы на коммунальные услуги

In [827]:
print(expen.lng.nunique())
print(expen.lat.nunique())

45
83

In [779]:
expen['month'] = (expen.date.str[3:-5:1]).astype('int32')

In [ ]:
# code_exp
code_exp = make_df('code_expenses')
code_exp.head(2)

In [ ]:
# real_years
real_years = make_df('realty_list_year')
real_years.head(2)

In [195]:
expen.shape

(23156, 16)

In [206]:
expen.head(5)

,code,year,name_expenses,sum,sum_endda,date,adress
0,132.0111,2016.0,Оплата потребления электроэнергии,"136613,67","136613,67",08.08.2016,ст.
1,132.0111,2016.0,Оплата потребления электроэнергии,"157328,99","157328,99",12.09.2016,ст.
2,132.0111,2016.0,Оплата потребления электроэнергии,"154446,37","154446,37",07.10.2016,ст.
3,132.0111,2016.0,Оплата потребления электроэнергии,"145996,33","145996,33",10.11.2016,ст.
4,132.0111,2016.0,Оплата потребления электроэнергии,"150687,65","150687,65",06.12.2016,ст.

# Первая очистка

In [773]:
real_unique_cols = ['address', 'region', 'city', 'lng', 'lat']  
real_unique = real_unique[real_unique_cols]

In [780]:
expen_cols = ['type_expenses', 'month', 'name_expenses', 'sum', 'sum_endda', 'date', 'lng', 'lat', 'smeta', 'departament']     # numerical - sum и sum_endda (что-то из этого - таргет)
expen = expen[expen_cols]

In [ ]:
#from decimal import *
#expen[expen.code == Decimal('134.1')].shape

## Make Dataframe

In [255]:
real_unique.head(2)

,address,region,city,lng,lat
0,"676776, Амурская обл., г.Райчихинск, Победы ул...",Амурская область,Райчихинск,129.401409,49.799777
1,"685000, Магаданская обл., г. Магадан,, ул. Пуш...",Магаданская область,Магадан,150.804651,59.566828

In [256]:
expen.head(2)

,type_expenses,year,name_expenses,sum,sum_endda,date,adress
0,Отопление,2017.0,Оплата потребления тепловой энергии,"16805,22","16805,22",15.01.2018,ст.
1,Вода,2016.0,"Оплата водоснабжения, канализации","619,69","619,69",22.12.2016,Другие расходы.Канализация Гараж ст.

# Model

In [272]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_percentage_error

def linear_regression_solution(X_tr, y_tr, X_val, y_val):

    model = LinearRegression()

    model.fit(X_tr, y_tr)
    pred = model.predict(X_val)

    score = mean_absolute_percentage_error(pred, y_val, squared = False)

    return pred, score

## One hot encoding

In [285]:
def one_hot(df, categorical:list):
    # categorical - список категориальных признаков 
    if len(categorical) == 0:
        return df
    dummies = pd.get_dummies(df[categorical], columns = categorical, drop_first = True)
    df = df.drop(categorical, axis=1)
    df = pd.concat([df, dummies], axis=1)
    return df

## prediction

In [307]:
#df_heat = one_hot(df_heat,[])

In [420]:
df = expen[['type_expenses','lng', 'lat', 'sum']]
df['lng'] = df.lng.astype('float32')
df['lat'] = df.lat.astype('float32')
df = df.rename(columns = {'sum':'target'})
num_cols = ['lng', 'lat']
df[num_cols] = df[num_cols].fillna(0)
df['target'] = (df.target.str.replace(',', '.')).astype('float32')

C:\Users\Geforce\AppData\Local\Temp\ipykernel_8968\2641035010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lng'] = df.lng.astype('float32')
C:\Users\Geforce\AppData\Local\Temp\ipykernel_8968\2641035010.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'] = df.lat.astype('float32')

In [422]:
df = one_hot(df,['type_expenses'])
df

,lng,lat,target,type_expenses_Газ,type_expenses_Коммунальные услуги (расходы прошлых лет),type_expenses_Отопление,type_expenses_Расходы на коммунальные услуги,type_expenses_Электричество,type_expenses_Электроэнергия
0,0.0,0.0,33.279999,False,False,False,False,False,False
1,0.0,0.0,54.389999,False,False,False,True,False,False
2,0.0,0.0,2159.149902,False,False,False,True,False,False
3,0.0,0.0,31.250000,False,False,False,True,False,False
4,0.0,0.0,15.620000,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
23150,0.0,0.0,63.000000,False,False,False,False,False,False
23151,0.0,0.0,1256.920044,False,False,False,False,False,False
23152,0.0,0.0,270.079987,False,False,False,False,False,False
23153,0.0,0.0,33.279999,False,False,False,False,False,False
23154,0.0,0.0,33.279999,False,False,False,False,False,False

In [423]:
df.isna().sum()

lng                                                        0
lat                                                        0
target                                                     0
type_expenses_Газ                                          0
type_expenses_Коммунальные услуги (расходы прошлых лет)    0
type_expenses_Отопление                                    0
type_expenses_Расходы на коммунальные услуги               0
type_expenses_Электричество                                0
type_expenses_Электроэнергия                               0
dtype: int64

In [308]:
#df_heat = df_heat.fillna(0)

In [309]:
#df_heat['target'] = (df_heat.target.str.replace(',', '.')).astype('float32')

In [424]:
X = df.drop(['target'], axis=1)
y = df.target
model = LinearRegression()
model.fit(X,y)
y_pred = model.predict(X)
1 - mean_absolute_percentage_error(y, y_pred)

C:\Users\Geforce\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Geforce\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Geforce\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Geforce\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:757: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Geforce\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:595: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Geforce\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\utils\validation.py:604: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

-1268.494140625

In [425]:
y_pred

array([ 3186.5156, 41592.906 , 41592.906 , ...,  3186.5156,  3186.5156,
        3186.5156], dtype=float32)

In [426]:
y

0          33.279999
1          54.389999
2        2159.149902
3          31.250000
4          15.620000
            ...
23150      63.000000
23151    1256.920044
23152     270.079987
23153      33.279999
23154      33.279999
Name: target, Length: 23150, dtype: float32

In [319]:
y.mean()

113647.94

# Update

In [ ]:
update_columns = f"UPDATE таблица_с_тестом SET Отнесено = {}  WHERE таблица_с_тестом.type_expenses == 'Отопление'"
execute_read_query(connection, update_columns)

In [785]:
expen

,type_expenses,month,name_expenses,sum,sum_endda,date,lng,lat,smeta,departament
0,Электроэнергия,10,Оплата потребления электроэнергии,"255993,16","255993,16",17.10.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
1,Электроэнергия,11,Оплата потребления электроэнергии,"252998,45","252998,45",10.11.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
2,Электроэнергия,12,Оплата потребления электроэнергии,"247459,4","247459,4",07.12.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
3,Электроэнергия,12,Оплата потребления электроэнергии,"333551,51","333551,51",28.12.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
4,Электроэнергия,1,Оплата потребления электроэнергии,"175,62","175,62",30.01.2017,150.798624,59.568337,Смета Аппарата Отделения по Магаданской област...,Дальневосточное главное управление Центральног...
...,...,...,...,...,...,...,...,...,...,...
23150,Электроэнергия,8,Оплата потребления электроэнергии,"427047,23","427047,23",11.08.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Дальневосточное главное управление Центральног...
23151,Электроэнергия,9,Оплата потребления электроэнергии,"-113994,23","-113994,23",01.09.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
23152,Электроэнергия,9,Оплата потребления электроэнергии,"260271,97","260271,97",01.09.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
23153,Электроэнергия,10,Оплата потребления электроэнергии,"-587890,4","-587890,4",17.10.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
23154,Электроэнергия,10,Оплата потребления электроэнергии,"-297200,31","-297200,31",17.10.2017,150.798624,59.566828,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...

In [795]:
df = expen[['type_expenses','lng', 'lat', 'sum', 'month', 'smeta', 'departament']]
df['lng'] = df.lng.astype('float32')
df['lat'] = df.lat.astype('float32')
df = df.rename(columns = {'sum':'target'})
num_cols = ['lng', 'lat']
df[num_cols] = df[num_cols].fillna(0)
df['target'] = (df.target.str.replace(',', '.')).astype('float32')

C:\Users\Geforce\AppData\Local\Temp\ipykernel_8968\74949164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lng'] = df.lng.astype('float32')
C:\Users\Geforce\AppData\Local\Temp\ipykernel_8968\74949164.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'] = df.lat.astype('float32')

In [796]:
X_ctb = df.drop('target', axis=1)
y_ctb = df.target

In [797]:
# Берем по модулю?
#y_ctb = abs(y_ctb)

In [798]:
X_ctb

,type_expenses,lng,lat,month,smeta,departament
0,Электроэнергия,150.79863,59.566830,10,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
1,Электроэнергия,150.79863,59.566830,11,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
2,Электроэнергия,150.79863,59.566830,12,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
3,Электроэнергия,150.79863,59.566830,12,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
4,Электроэнергия,150.79863,59.568336,1,Смета Аппарата Отделения по Магаданской област...,Дальневосточное главное управление Центральног...
...,...,...,...,...,...,...
23150,Электроэнергия,150.79863,59.566830,8,Смета Аппарата Отделения по Магаданской област...,Дальневосточное главное управление Центральног...
23151,Электроэнергия,150.79863,59.566830,9,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
23152,Электроэнергия,150.79863,59.566830,9,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
23153,Электроэнергия,150.79863,59.566830,10,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...
23154,Электроэнергия,150.79863,59.566830,10,Смета Аппарата Отделения по Магаданской област...,Отделение по Магаданской области Дальневосточн...

In [799]:
from sklearn.model_selection import train_test_split

X_tr, X_test, y_tr, y_test = train_test_split(X_ctb, y_ctb, random_state=42)
categorical_features = ['type_expenses']
feature_names = list(X_tr.columns)

In [816]:
## Catboost
from catboost import Pool, CatBoostRegressor
text_columns = ['smeta', 'departament']

train_pool = Pool(X_tr,
                  y_tr,
                  cat_features=categorical_features,
                  text_features=text_columns,
                  feature_names=feature_names
                  )

test_pool = Pool(X_test,
                 y_test,
                 cat_features=categorical_features,
                 text_features=text_columns,
                 feature_names=feature_names
                 )

eval_set = [(X_test, y_test)]

ctb = CatBoostRegressor(iterations=100,
                              #depth = 6,
                              loss_function='MAPE',
                              verbose=1,
                              random_state=42,
                              eval_metric='MAPE',
                              #nan_mode='Min',
                              ) 

ctb.fit(train_pool,
              verbose=1,
              early_stopping_rounds=20,
              eval_set=eval_set
              )

y_pred = ctb.predict(X_test)

0:	learn: 0.9898386	test: 0.9907696	best: 0.9907696 (0)	total: 37.5ms	remaining: 3.72s
1:	learn: 0.9895244	test: 0.9905137	best: 0.9905137 (1)	total: 82ms	remaining: 4.02s
2:	learn: 0.9887879	test: 0.9899252	best: 0.9899252 (2)	total: 131ms	remaining: 4.24s
3:	learn: 0.9884858	test: 0.9896196	best: 0.9896196 (3)	total: 176ms	remaining: 4.22s
4:	learn: 0.9882203	test: 0.9894482	best: 0.9894482 (4)	total: 224ms	remaining: 4.25s
5:	learn: 0.9878453	test: 0.9892338	best: 0.9892338 (5)	total: 271ms	remaining: 4.25s
6:	learn: 0.9869244	test: 0.9887571	best: 0.9887571 (6)	total: 317ms	remaining: 4.21s
7:	learn: 0.9863392	test: 0.9883629	best: 0.9883629 (7)	total: 364ms	remaining: 4.18s
8:	learn: 0.9856204	test: 0.9879478	best: 0.9879478 (8)	total: 410ms	remaining: 4.15s
9:	learn: 0.9854636	test: 0.9877970	best: 0.9877970 (9)	total: 457ms	remaining: 4.11s
10:	learn: 0.9853098	test: 0.9877601	best: 0.9877601 (10)	total: 506ms	remaining: 4.09s
11:	learn: 0.9847670	test: 0.9874573	best: 0.9874573 (11)	total: 552ms	remaining: 4.05s
12:	learn: 0.9843256	test: 0.9870805	best: 0.9870805 (12)	total: 597ms	remaining: 4s
13:	learn: 0.9840239	test: 0.9867087	best: 0.9867087 (13)	total: 664ms	remaining: 4.08s
14:	learn: 0.9837780	test: 0.9865371	best: 0.9865371 (14)	total: 708ms	remaining: 4.01s
15:	learn: 0.9836490	test: 0.9864195	best: 0.9864195 (15)	total: 764ms	remaining: 4.01s
16:	learn: 0.9828497	test: 0.9856793	best: 0.9856793 (16)	total: 802ms	remaining: 3.92s
17:	learn: 0.9824306	test: 0.9854306	best: 0.9854306 (17)	total: 850ms	remaining: 3.87s
18:	learn: 0.9823003	test: 0.9853184	best: 0.9853184 (18)	total: 896ms	remaining: 3.82s
19:	learn: 0.9821315	test: 0.9851988	best: 0.9851988 (19)	total: 943ms	remaining: 3.77s
20:	learn: 0.9817629	test: 0.9847459	best: 0.9847459 (20)	total: 1.01s	remaining: 3.8s
21:	learn: 0.9815994	test: 0.9845587	best: 0.9845587 (21)	total: 1.05s	remaining: 3.74s
22:	learn: 0.9808597	test: 0.9840378	best: 0.9840378 (22)	total: 1.1s	remaining: 3.69s
23:	learn: 0.9804170	test: 0.9838201	best: 0.9838201 (23)	total: 1.15s	remaining: 3.64s
24:	learn: 0.9803146	test: 0.9836300	best: 0.9836300 (24)	total: 1.21s	remaining: 3.63s
25:	learn: 0.9800407	test: 0.9834003	best: 0.9834003 (25)	total: 1.26s	remaining: 3.59s
26:	learn: 0.9797806	test: 0.9831623	best: 0.9831623 (26)	total: 1.31s	remaining: 3.53s
27:	learn: 0.9795204	test: 0.9829923	best: 0.9829923 (27)	total: 1.35s	remaining: 3.48s
28:	learn: 0.9793993	test: 0.9830054	best: 0.9829923 (27)	total: 1.4s	remaining: 3.43s
29:	learn: 0.9792456	test: 0.9829012	best: 0.9829012 (29)	total: 1.45s	remaining: 3.37s
30:	learn: 0.9789661	test: 0.9826900	best: 0.9826900 (30)	total: 1.49s	remaining: 3.33s
31:	learn: 0.9786308	test: 0.9825245	best: 0.9825245 (31)	total: 1.54s	remaining: 3.27s
32:	learn: 0.9781180	test: 0.9820940	best: 0.9820940 (32)	total: 1.58s	remaining: 3.21s
33:	learn: 0.9778917	test: 0.9818661	best: 0.9818661 (33)	total: 1.63s	remaining: 3.16s
34:	learn: 0.9777650	test: 0.9816832	best: 0.9816832 (34)	total: 1.68s	remaining: 3.11s
35:	learn: 0.9775789	test: 0.9815611	best: 0.9815611 (35)	total: 1.72s	remaining: 3.06s
36:	learn: 0.9773981	test: 0.9814147	best: 0.9814147 (36)	total: 1.77s	remaining: 3.01s
37:	learn: 0.9771695	test: 0.9811892	best: 0.9811892 (37)	total: 1.81s	remaining: 2.96s
38:	learn: 0.9768716	test: 0.9809413	best: 0.9809413 (38)	total: 1.86s	remaining: 2.91s
39:	learn: 0.9767066	test: 0.9805675	best: 0.9805675 (39)	total: 1.91s	remaining: 2.86s
40:	learn: 0.9765074	test: 0.9804110	best: 0.9804110 (40)	total: 1.95s	remaining: 2.81s
41:	learn: 0.9763275	test: 0.9802190	best: 0.9802190 (41)	total: 2s	remaining: 2.76s
42:	learn: 0.9761958	test: 0.9800797	best: 0.9800797 (42)	total: 2.04s	remaining: 2.71s
43:	learn: 0.9759460	test: 0.9799753	best: 0.9799753 (43)	total: 2.09s	remaining: 2.66s
44:	learn: 0.9755424	test: 0.9799474	best: 0.9799474 (44)	total: 2.15s	remaining: 2.63s
45:	learn: 0.9751495	test: 0.9795813	best: 0.9795813 (45)	total: 2.2s	remaining: 2.59s
46:	learn: 0.9749144	test: 0.9794381	best: 0.9794381 (46)	total: 2.25s	remaining: 2.54s
47:	learn: 0.9747828	test: 0.9793377	best: 0.9793377 (47)	total: 2.31s	remaining: 2.5s
48:	learn: 0.9745095	test: 0.9791098	best: 0.9791098 (48)	total: 2.36s	remaining: 2.46s
49:	learn: 0.9743518	test: 0.9790272	best: 0.9790272 (49)	total: 2.4s	remaining: 2.4s
50:	learn: 0.9741579	test: 0.9790163	best: 0.9790163 (50)	total: 2.45s	remaining: 2.35s
51:	learn: 0.9739927	test: 0.9789537	best: 0.9789537 (51)	total: 2.5s	remaining: 2.31s
52:	learn: 0.9739589	test: 0.9789720	best: 0.9789537 (51)	total: 2.55s	remaining: 2.26s
53:	learn: 0.9738333	test: 0.9788665	best: 0.9788665 (53)	total: 2.59s	remaining: 2.21s
54:	learn: 0.9737042	test: 0.9788645	best: 0.9788645 (54)	total: 2.64s	remaining: 2.16s
55:	learn: 0.9735571	test: 0.9787358	best: 0.9787358 (55)	total: 2.69s	remaining: 2.11s
56:	learn: 0.9734102	test: 0.9786769	best: 0.9786769 (56)	total: 2.73s	remaining: 2.06s
57:	learn: 0.9731961	test: 0.9785101	best: 0.9785101 (57)	total: 2.78s	remaining: 2.01s
58:	learn: 0.9729432	test: 0.9777665	best: 0.9777665 (58)	total: 2.83s	remaining: 1.97s
59:	learn: 0.9728239	test: 0.9777042	best: 0.9777042 (59)	total: 2.88s	remaining: 1.92s
60:	learn: 0.9727524	test: 0.9777309	best: 0.9777042 (59)	total: 2.92s	remaining: 1.87s
61:	learn: 0.9726533	test: 0.9777159	best: 0.9777042 (59)	total: 2.99s	remaining: 1.83s
62:	learn: 0.9725689	test: 0.9776603	best: 0.9776603 (62)	total: 3.04s	remaining: 1.78s
63:	learn: 0.9724230	test: 0.9775989	best: 0.9775989 (63)	total: 3.08s	remaining: 1.73s
64:	learn: 0.9723615	test: 0.9775935	best: 0.9775935 (64)	total: 3.13s	remaining: 1.68s
65:	learn: 0.9722919	test: 0.9776446	best: 0.9775935 (64)	total: 3.17s	remaining: 1.63s
66:	learn: 0.9721956	test: 0.9777894	best: 0.9775935 (64)	total: 3.22s	remaining: 1.59s
67:	learn: 0.9720288	test: 0.9776382	best: 0.9775935 (64)	total: 3.27s	remaining: 1.54s
68:	learn: 0.9719735	test: 0.9776282	best: 0.9775935 (64)	total: 3.31s	remaining: 1.49s
69:	learn: 0.9715541	test: 0.9774014	best: 0.9774014 (69)	total: 3.36s	remaining: 1.44s
70:	learn: 0.9714363	test: 0.9773166	best: 0.9773166 (70)	total: 3.41s	remaining: 1.39s
71:	learn: 0.9712542	test: 0.9771736	best: 0.9771736 (71)	total: 3.46s	remaining: 1.34s
72:	learn: 0.9710363	test: 0.9770787	best: 0.9770787 (72)	total: 3.5s	remaining: 1.3s
73:	learn: 0.9709415	test: 0.9770562	best: 0.9770562 (73)	total: 3.56s	remaining: 1.25s
74:	learn: 0.9708775	test: 0.9770487	best: 0.9770487 (74)	total: 3.61s	remaining: 1.2s
75:	learn: 0.9707392	test: 0.9769344	best: 0.9769344 (75)	total: 3.66s	remaining: 1.16s
76:	learn: 0.9707160	test: 0.9770102	best: 0.9769344 (75)	total: 3.71s	remaining: 1.11s
77:	learn: 0.9705315	test: 0.9768335	best: 0.9768335 (77)	total: 3.75s	remaining: 1.06s
78:	learn: 0.9704041	test: 0.9767547	best: 0.9767547 (78)	total: 3.8s	remaining: 1.01s
79:	learn: 0.9702819	test: 0.9766061	best: 0.9766061 (79)	total: 3.85s	remaining: 962ms
80:	learn: 0.9702280	test: 0.9765715	best: 0.9765715 (80)	total: 3.89s	remaining: 913ms
81:	learn: 0.9701001	test: 0.9765397	best: 0.9765397 (81)	total: 3.94s	remaining: 865ms
82:	learn: 0.9700226	test: 0.9765380	best: 0.9765380 (82)	total: 3.99s	remaining: 817ms
83:	learn: 0.9697966	test: 0.9764098	best: 0.9764098 (83)	total: 4.04s	remaining: 769ms
84:	learn: 0.9695747	test: 0.9762127	best: 0.9762127 (84)	total: 4.08s	remaining: 721ms
85:	learn: 0.9695396	test: 0.9761297	best: 0.9761297 (85)	total: 4.13s	remaining: 672ms
86:	learn: 0.9694262	test: 0.9760706	best: 0.9760706 (86)	total: 4.17s	remaining: 624ms
87:	learn: 0.9693351	test: 0.9761096	best: 0.9760706 (86)	total: 4.22s	remaining: 576ms
88:	learn: 0.9691138	test: 0.9758902	best: 0.9758902 (88)	total: 4.29s	remaining: 530ms
89:	learn: 0.9688341	test: 0.9752718	best: 0.9752718 (89)	total: 4.33s	remaining: 482ms
90:	learn: 0.9688350	test: 0.9754628	best: 0.9752718 (89)	total: 4.38s	remaining: 433ms
91:	learn: 0.9687421	test: 0.9754104	best: 0.9752718 (89)	total: 4.43s	remaining: 385ms
92:	learn: 0.9686947	test: 0.9755348	best: 0.9752718 (89)	total: 4.47s	remaining: 337ms
93:	learn: 0.9686219	test: 0.9754757	best: 0.9752718 (89)	total: 4.52s	remaining: 288ms
94:	learn: 0.9686027	test: 0.9755118	best: 0.9752718 (89)	total: 4.56s	remaining: 240ms
95:	learn: 0.9685044	test: 0.9754788	best: 0.9752718 (89)	total: 4.61s	remaining: 192ms
96:	learn: 0.9684650	test: 0.9754897	best: 0.9752718 (89)	total: 4.66s	remaining: 144ms
97:	learn: 0.9684722	test: 0.9755777	best: 0.9752718 (89)	total: 4.7s	remaining: 96ms
98:	learn: 0.9683433	test: 0.9755019	best: 0.9752718 (89)	total: 4.75s	remaining: 48ms
99:	learn: 0.9682469	test: 0.9754354	best: 0.9752718 (89)	total: 4.81s	remaining: 0us

bestTest = 0.9752717724
bestIteration = 89

Shrink model to first 90 iterations.

In [814]:
mean_absolute_percentage_error(y_test, y_pred)

1.0537343246853015

In [815]:
mean_absolute_percentage_error(y_test, [y_test.mean()] * y_test.shape[0])

1374.7008

In [824]:
# метрика, если ответ - нули
mean_absolute_percentage_error(y_test, [0] * y_test.shape[0])

1.0

In [817]:
feature_imp = pd.Series(ctb.get_feature_importance(),
                     X_tr.columns)
feature_imp

type_expenses     0.000000
lng               0.011753
lat               0.251398
month             3.315395
smeta            87.253593
departament       9.167861
dtype: float64

In [691]:
mean_absolute_percentage_error([1,1,1], [2,2,2])

1.0

In [710]:
mean_absolute_percentage_error([100000,100000,100000], [1,1,1])

0.99999

In [674]:
mean_absolute_percentage_error([1], [100000])

99999.0